@tailwind base;
@tailwind components;
@tailwind utilities;



html,
body {
  background-color: #6FCAF3 !important;
  font-family: "Poppins";
  overflow-x: hidden !important;
}

body {
  overflow: hidden;
}

.Regular {
  font-weight: 400;
}

.Medium {
  font-weight: 500;
}

.SemiBold {
  font-weight: 600;
}

.Bold {
  font-weight: 700;
}

.vertical-timeline-element-content.bounce-in{
  border: solid 4px #EDDB55 !important;
  box-shadow: none !important;
}

#__next > main > section:nth-child(3) > div > div.vertical-timeline-element.vertical-timeline-element--no-children > div{
  border: none !important;
}

.react-multi-carousel-dot-list
{
  position: relative !important;
  z-index: 50 !important;
  margin-top: 7% !important;
  width: 100% !important;
  
}

#ribbonBox div:nth-child(3){
  -webkit-transform: scaleY(-1) translateY(-20%);
  transform: scaleY(-1) translateY(-20%);

}

#ribbonBox2 div:nth-child(3){
  -webkit-transform: scaleY(-1) translateY(-20%);
  transform: scaleY(-1) translateY(-20%);

}

@media only screen and (max-width: 600px) {
  #ribbonBox2 div:nth-child(3){
    -webkit-transform: scaleY(-1) translateY(-20%) translateX(95%) !important;
    transform: scaleY(-1) translateY(-20%) translateX(95%) !important;
  
  }

  .react-multi-carousel-dot-list {
    width: 80vw !important;
    max-width: 80vw !important;
    margin-right: auto !important;
    margin-left: auto !important;
    overflow-x: auto !important;
  }
}


.crypto{
  -webkit-transform: scaleY(-1) rotate(-1deg);
  transform: scaleY(-1) rotate(-1deg);
}

.react-multi-carousel-dot {
  border : solid 2px #EDDB55;
  border-radius: 0px !important;
  height: 1.3em !important;
  aspect-ratio: 1 !important;
  background-color: white !important;
  margin-right: .25em !important;
  margin-left: .25em !important;
}

.react-multi-carousel-dot.react-multi-carousel-dot--active{
  background-color: #E5E7EB !important;
}

.react-multi-carousel-dot button{
  color: transparent !important;
  border-color:  transparent !important;
}

.react-multi-carousel-dot.react-multi-carousel-dot--active button{
  background-color: transparent !important;
  border-color: transparent !important;
}

.buttonShadow {
  box-shadow: -3px 4px 0px #606060;
  box-shadow: -3px 4px 0px color(display-p3 0.376 0.376 0.376);

}

.glassy{
  background: rgba( 255, 255, 255, 0.25 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
}

.bm-menu-wrap {
  width: 100vw !important;
  height: 100vh !important;
  background-color: #6FCAF3 !important;
  z-index: 9999 !important;
  left: 0px !important;
  top: 0px !important;
}


.bm-menu {
  height: 100% !important;
  width: 100% !important;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: center !important;
}

.bm-item-list{
  height: 100% !important;
  width: 100% !important;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: center !important;
}

.test{
  background-color: red;
}

.bm-burger-button{
  display: none !important;
  position: relative !important;
  z-index: 0 !important;
  height: 0px !important;
  width: 0px !important;
}

.bm-item{
  width: 100% !important;
  height: 100% !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: start !important;
}


#react-burger-menu-btn{
  width: fit-content !important;
  height: fit-content !important;
}

.bm-overlay{
  width: 100vw !important;
  left: 0px !important;
  display: flex !important;
  flex-direction: row;

}

#burgerMenu{
  z-index: 9999 !important;
}

.cloud {
  /* Set initial position */
  
  transform: translateY(0);
  /* Apply animation with 10 seconds duration, infinite loop, and ease-in-out timing function */
  animation: moveUpDown1 20s infinite ease-in-out;
}

.boat {
  /* Set initial position */
  transform: translateY(0);
  scale: 0.6;
  /* Apply animation with 10 seconds duration, infinite loop, and ease-in-out timing function */
  animation: moveUpDown2 15s infinite ease-in-out;
}

.castle {
  /* Set initial position */
  transform: translateY(0);
  scale: 0.6;
  /* Apply animation with 10 seconds duration, infinite loop, and ease-in-out timing function */
  animation: moveUpDown2 20s infinite ease-in-out;
}

.lightSpot{
  box-shadow: 0px 0px 250px 250px #EDDB55;
  opacity: 0.6;
}

.szh-menu {
  background: #CA75AB !important;
  margin-top: 6px !important;
  border: 1px solid yellow !important;
  border-radius: 10px !important;
  width: fit-content !important;
  min-width: fit-content !important;
  
}

.szh-menu__arrow {
  background: #CA75AB !important;
  border-top: 1px solid yellow !important;
  border-left: 1px solid yellow !important;
}

.szh-menu__item {
  
  width: 100% !important;
  height: fit-content !important;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: flex-start !important;
  padding: .3em 1.7em .3em .5em !important;
  
}

.szh-menu__item:hover {
  background: rgba( 255, 255, 255, 0.18 ) !important;
}



/* Define the animation keyframes */
@keyframes moveUpDown1 {

  0%,
  100% {
    /* Start and end position (no movement) */
    transform: translateY(0px);
  }

  50% {
    /* Midpoint of the animation (move up) */
    transform: translateY(-80px);
    /* Adjust the value as needed */
  }
}

@keyframes moveUpDown2 {

  0%,
  100% {
    /* Start and end position (no movement) */
    transform: translateY(0px);
  }

  50% {
    /* Midpoint of the animation (move up) */
    transform: translateY(-40px);
    /* Adjust the value as needed */
  }
}

.marker-icon {
  cursor: pointer;
}

.tooltip {
  position: absolute;
  top: -30px; /* Adjust as needed */
  left: -15px; /* Adjust as needed */
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: none;
}

.marker-icon:hover + .tooltip {
  display: block;
}
